@font-face {
  font-family: lieToME;
  src: url(../fonts/lie-to-me.otf);
  color: #9a9a9a;
}

@font-face {
  font-family: orange-boi;
  src: url(../fonts/orange.ttf);
  color: #9a9a9a;
}

body {
  background: url(../assets/backgrounds/black-hand.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.custom-navbar {
  background: transparent;
  border: 0px;
  padding: 10px 0px 10px 0px;
}

nav .img-circle {
  margin-bottom: 5px;
  margin-left: 5px;
}

#header {
  background-color: transparent;
  height: 100px;
  font-size: 80px;
  font-family: orange-boi;
  color: #800000;
  margin-left: 40px;
  margin-right: 550px;
}

#headertext h2 {
  text-align: center;
  font-size: 80px;
}

#headerimg {
  padding-left: 10px;
}

#headertext {
  padding-left: 480px;
  padding-top: 0px;
}

#pictures {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: white;
  height: 550px;
  padding-left: 90px;
}

#the {
  padding-left: 470px;
  padding-top: 40px;
  font-size: 50px;
  font-family: orange-boi;
  color: #B29600;
}

#column1 p {
  margin-bottom: 15px;
}

#videos {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  height: 650px;
  padding-left: 35px;
}

#the2 {
  padding-left: 515px;
  padding-top: 40px;
  font-size: 50px;
  font-family: orange-boi;
  color: #B29600;
}

#tutors {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  height: 550px;
  padding-left: 100px;
}

#the3 {
  padding-left: 470px;
  padding-top: 40px;
  font-size: 50px;
  font-family: orange-boi;
  color: #B29600;
}

#copyright {
  margin-left: 40px;
  margin-right: 40px;
  height: 70px;
  background-color: #7E7E7E;
  padding-top: 25px;
  text-align: center;
}

#copyright p {
  padding-left: 410px;
}
