
@font-face {
 font-family: lieToME;
 src: url(../fonts/lie-to-me.otf);
 color: #9a9a9a ;
}


@font-face {
 font-family: orange;
 src: url(../fonts/orange.ttf);
 color: #9a9a9a ;
}

.navbar {
margin-bottom: 0;
border-radius: 0;
}

.custom-navbar {
background: transparent;
border: 0px;
padding: 10px 0px 10px 0px;
}
.img-circle {
margin-bottom: 5px;
margin-left: 5px;
}



.carousel-inner img {
width: 100%;
margin: auto;
min-height:200px;
}
#myCarousel{
margin: 10px;
}

@media (max-width: 600px) {
.carousel-caption {
display: none;
}
}
.container1 {
  position: relative;
  width: 50%;
}

.im{
	color: rgba(128, 0, 0, 0.4);
}
/*End of hover*/

.jumbotron h1{
font-family: orange;
color:  #800000;
}

.jumbotron p{
	font-family: lieToME;
	color: #B29600;
	font-size: 34px;
}

.jumbotron{
background-image: url('http://www.zhongyaodqt.com/data/out/44/57029889-white-wallpapers.jpg');
}
.Copyright{
margin-left: 40px;
margin-right: 40px;
height: 70px;
background-color: #7E7E7E;
padding-top: 25px;
text-align: center;
}
.Copyright p {
padding-left: 410px;
text-align: center;
}

