@font-face {
  font-family: lieToME;
  src: url(../fonts/lie-to-me.otf);
  color: #B29600;
}

@font-face {
  font-family: orange-boi;
  src: url(../fonts/orange.ttf);
  color: #800000;
}

body {
  background: url(../assets/backgrounds/onelaptop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.xxx {
  background: transparent;
}

.custom-navbar {
  background: transparent;
  border: 0px;
  padding: 10px 0px 10px 0px;
}

nav .img-circle {
  margin-bottom: 5px;
  margin-left: 5px;
}

body {
  height: 100%;
  background-color: #F1F1F1;
}

#sidebar {
  background-color: #DBDBDB;
  height: 700px;
  border: thin silver;
  margin-top: 60px;
}

#sidebar h4 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}


}
.scholar {
  margin-bottom: 0px;
  height: 300px;
}
#scholar {
  margin-top: 60px;
  border: 2px solid #BFBFBF;
  height: 440px;
  padding-left: 30px;
  background-color: grey;
}
.scholar h3 {
  font-family: orange-boi;
  padding-left: 250px;
  margin-bottom: 40px;
  margin-top: 50px;
  color: #800000;
  font-size: 30px;
}
.college {
  margin-top: 10px;
  margin-bottom: 100px;
  height: 300px;
}
#college {
  margin-top: 60px;
  border: 2px solid #BFBFBF;
  height: 440px;
  padding-left: 30px;
  background-color: grey;
}
.college h3 {
  font-family: orange-boi;
  padding-left: 250px;
  margin-bottom: 40px;
  margin-top: 50px;
  color: #800000;
  font-size: 30px;
}
.exchange {
  margin-top: px;
  height: 300px;
}
#exchange {
  margin-top: 60px;
  padding-left: 30px;
  border: 2px solid #BFBFBF;
  height: 460px;
  margin-bottom: 10px;
  background-color: grey;
}
.exchange h3 {
  font-family: orange-boi;
  padding-left: 260px;
  margin-bottom: 40px;
  margin-top: 50px;
  color: #800000;
  font-size: 30px;
}
#expimg {
  padding-left: 20px;
  padding-top: 30px;
}
#exptxt {
  padding-left: 60px;
  padding-top: 50px;
}
#uni {
  padding-left: 60px;
  padding-top: 30px;
}
#ships {
  padding-left: 60px;
  padding-top: 30px;
}
.button {
  display: inline-block;
  border-radius: 6px;
  background-color: #970000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  width: 130px;
  transition: all 0.7s;
  cursor: pointer;
  margin-left: 100px;
  margin-top: 20px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
