@font-face {
  font-family: lieToME;
  src: url(../fonts/lie-to-me.otf);
  color: #9a9a9a;
}

@font-face {
  font-family: orange-boi;
  src: url(../fonts/orange.ttf);
  color: #9a9a9a;
}

#head {
  text-align: center;
  padding: 25px;
}

#quotes {
  text-align: center;
  padding: 25px;
  font-family: lieToME;
  color: gold;
}

#quotes h2 {
  font-size: 50px;
}

#sections {
  text-align: center;
  padding: 25px;
  margin: 25px;
}

.ref-btn {
  border: solid #7FFFD4 1px;
  color: #7FFFD4;
  background-color: rgba(0, 0, 0, 0.1);
}

.col-md-4 {
  padding-bottom: 20px;
}

.section-content {
  display: none;
  height: 120px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid #58B294 2px;
  color: #58B294;
}

h3 {
  font-family: orange-boi;
  font-size: 50px;
  color: #72E5BE;
}

h1 {
  font-family: orange-boi;
  font-size: 65px;
  color: #72E5BE;
}
