body {
  background: url(../assets/backgrounds/black-hand.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

@font-face {
  font-family: lieToME;
  src: url(../fonts/lie-to-me.otf);
  color: #9a9a9a;
}

@font-face {
  font-family: orange-boi;
  src: url(../fonts/orange.ttf);
  color: #9a9a9a;
}

#head {
  text-align: center;
  padding: 25px;
}

#quotes {
  text-align: center;
  padding: 25px;
  font-family: lieToME;
  color: #B29600;
}

#quotes h2 {
  font-size: 50px;
}

#sections {
  text-align: center;
  padding: 25px;
  margin: 25px;
}

.ref-btn {
  border: solid #8b1717 1px;
  color: #B29600;
  background-color: #8b1717;
}

.col-md-4 {
  padding-bottom: 20px;
}

.section-content {
  display: none;
  height: 120px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid #B29600 2px;
  color: black;
}

h3 {
  font-family: orange-boi;
  font-size: 50px;
  color: #800000;
}

h1 {
  font-family: orange-boi;
  font-size: 65px;
  color: #800000;
}
